@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);










body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #90a878 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #90a878 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #90a878;
}
.btn-social:hover {
  background: #90a878;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #90a878;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #90a878;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #90a878;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #90a878;
}
.lead a,
.lead a:hover {
  color: #90a878;
}
.lead blockquote {
  border-color: #90a878;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #90a878;
}
#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-c .link {
  font-size: 0.75rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #90a878;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #0e0e0e;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-c .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#header4-0 .mbr-section-title SPAN {
  font-size: 60px;
}
#header4-0 .mbr-section-title {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}
#header4-0 .mbr-section-lead {
  text-align: right;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#header3-5 H3 {
  font-family: 'Montserrat', sans-serif;
}
#header3-5 .mbr-section-title {
  font-size: 46px;
}
#header3-5 .mbr-section-subtitle {
  font-size: 18px;
  color: #90a878;
}
#gallery4-3h .mbr-gallery-item > div > span {
  text-align: center;
  color: #90a878;
}
#header3-3r .mbr-section-title,
#header3-3r .mbr-section-subtitle {
  text-align: center;
}
#header3-n .mbr-section-title,
#header3-n .mbr-section-subtitle {
  text-align: center;
}
#header3-n .mbr-section-title {
  font-size: 46px;
}
#header3-n .mbr-section-subtitle {
  font-size: 18px;
  color: #90a878;
}
#features6-3b P {
  font-family: 'Lora', serif;
}
#features6-3b I {
  color: #000000;
}
#header3-42 .mbr-section-title,
#header3-42 .mbr-section-subtitle {
  text-align: center;
}
#header3-3a .mbr-section-title,
#header3-3a .mbr-section-subtitle {
  text-align: center;
}
#header3-3a .mbr-section-subtitle {
  font-size: 18px;
  color: #90a878;
}
#header3-3a .mbr-section-title {
  font-size: 46px;
}
#pricing-table2-39 .mbr-plan-header,
#pricing-table2-39 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-39 ul,
#pricing-table2-39 .mbr-plan-title,
#pricing-table2-39 .mbr-price-value,
#pricing-table2-39 .mbr-price-figure,
#pricing-table2-39 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-39 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-39 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-39 .mbr-plan-title {
  font-size: 30px;
}
#pricing-table2-39 .mbr-plan-subtitle {
  font-size: 18px;
}
#pricing-table2-39 .mbr-plan-price-desc {
  font-size: 15px;
  color: #666666;
}
#pricing-table2-39 .mbr-price-term {
  font-size: 10px;
}
#pricing-table2-39 .mbr-price-figure {
  font-family: 'Lora', serif;
}
#msg-box3-14 .mbr-section-title,
#msg-box3-14 p {
  color: #000;
}
#msg-box3-14 .btn {
  font-size: 18px;
}
#msg-box3-14 .lead P {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: #90a878;
}
#msg-box3-14 .mbr-section-title P {
  font-size: 46px;
}
#social-buttons2-3j .mbr-section-title,
#social-buttons2-3j .btn-social {
  color: #232323;
}
#contacts1-2 P {
  color: #efefef;
  text-align: left;
}
#footer1-1 B {
  color: #c1c1c1;
}







#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-d .link {
  font-size: 0.75rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #90a878;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #0e0e0e;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-d .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#slider-g SPAN {
  color: #ffffff;
  font-size: 21px;
}
#content1-1k P {
  text-align: center;
}
#content1-1k H4 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#content1-1k BLOCKQUOTE {
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 32px;
}
#features3-k SPAN {
  text-align: center;
  font-family: 'Lora', serif;
}
#features3-k P {
  font-family: 'Lora', serif;
}
#features3-k I {
  font-size: 16px;
}
#header3-o .mbr-section-title,
#header3-o .mbr-section-subtitle {
  text-align: center;
}
#header3-o .mbr-section-title {
  font-size: 46px;
}
#msg-box3-3o .mbr-section-title,
#msg-box3-3o p {
  color: #000;
}
#msg-box3-3o .btn {
  font-size: 18px;
}
#msg-box3-3o .lead P {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: #90a878;
}
#msg-box3-3o .mbr-section-title P {
  font-size: 46px;
}
#footer1-f B {
  color: #c1c1c1;
}
#contacts1-1y P {
  color: #efefef;
  text-align: left;
}






#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-d .link {
  font-size: 0.75rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #90a878;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #0e0e0e;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-d .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#slider-1r SPAN {
  color: #ffffff;
}
#content1-23 P {
  text-align: center;
}
#content1-23 H4 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#content1-23 BLOCKQUOTE {
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 32px;
}
#features3-1t SPAN {
  text-align: center;
}
#features3-1t P {
  font-family: 'Lora', serif;
}
#header3-1u .mbr-section-title,
#header3-1u .mbr-section-subtitle {
  text-align: center;
}
#header3-1u H3 {
  color: #000000;
}
#header3-1u .mbr-section-title {
  font-size: 46px;
}
#msg-box3-3p .mbr-section-title,
#msg-box3-3p p {
  color: #000;
}
#msg-box3-3p .btn {
  font-size: 18px;
}
#msg-box3-3p .lead P {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: #90a878;
}
#msg-box3-3p .mbr-section-title P {
  font-size: 46px;
}
#contacts1-1y P {
  color: #efefef;
  text-align: left;
}
#footer1-1z B {
  color: #c1c1c1;
}






#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
}
#menu-2v .navbar-toggler {
  color: #ffffff;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #ffffff;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-2v .link {
  font-size: 0.75rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #90a878;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #0e0e0e;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-2v .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#slider-2w SPAN {
  color: #ffffff;
}
#content1-2x P {
  text-align: center;
}
#content1-2x H4 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#content1-2x BLOCKQUOTE {
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 32px;
}
#features3-2y SPAN {
  text-align: center;
}
#features3-2y P {
  font-family: 'Lora', serif;
}
#header3-2z .mbr-section-title,
#header3-2z .mbr-section-subtitle {
  text-align: center;
}
#header3-2z H3 {
  color: #000000;
}
#header3-2z .mbr-section-title {
  font-size: 46px;
}
#msg-box3-31 .mbr-section-title,
#msg-box3-31 p {
  color: #000;
}
#msg-box3-31 .btn {
  font-size: 18px;
}
#msg-box3-31 .mbr-section-title P {
  color: #000000;
}
#msg-box3-31 .lead P {
  font-family: 'Lora', serif;
  color: #90a878;
}
#contacts1-32 P {
  color: #efefef;
  text-align: left;
}
#footer1-33 B {
  color: #c1c1c1;
}






#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
}
#menu-2v .navbar-toggler {
  color: #ffffff;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #ffffff;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-2v .link {
  font-size: 0.75rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #90a878;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #0e0e0e;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-2v .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#slider-2n SPAN {
  color: #ffffff;
  font-size: 30px;
}
#content1-2o P {
  text-align: center;
}
#content1-2o H4 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#content1-2o BLOCKQUOTE {
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 30px;
}
#features3-2p SPAN {
  text-align: center;
}
#features3-2p P {
  font-family: 'Lora', serif;
}
#header3-2q .mbr-section-title,
#header3-2q .mbr-section-subtitle {
  text-align: center;
}
#header3-2q H3 {
  color: #000000;
}
#header3-2q .mbr-section-title {
  font-size: 46px;
}
#msg-box3-3q .mbr-section-title,
#msg-box3-3q p {
  color: #000;
}
#msg-box3-3q .btn {
  font-size: 18px;
}
#msg-box3-3q .lead P {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: #90a878;
}
#msg-box3-3q .mbr-section-title P {
  font-size: 46px;
}
#contacts1-2t P {
  color: #efefef;
  text-align: left;
}
#footer1-2u B {
  color: #c1c1c1;
}


#menu-3x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3x .navbar-caption {
  color: #ffffff;
}
#menu-3x .navbar-toggler {
  color: #ffffff;
}
#menu-3x .close-icon::before,
#menu-3x .close-icon::after {
  background-color: #ffffff;
}
#menu-3x .link,
#menu-3x .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-3x .link {
  font-size: 0.75rem;
}
#menu-3x .dropdown-item,
#menu-3x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3x .link:hover,
#menu-3x .dropdown-item:hover,
#menu-3x .link:focus,
#menu-3x .dropdown-item:focus {
  color: #90a878;
}
#menu-3x .link[aria-expanded="true"],
#menu-3x .dropdown-menu {
  background: #0e0e0e;
}
#menu-3x .nav-dropdown-sm .link:focus,
#menu-3x .nav-dropdown-sm .link:hover,
#menu-3x .nav-dropdown-sm .dropdown-item:focus,
#menu-3x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3x .navbar,
#menu-3x .nav-dropdown-sm,
#menu-3x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3x .bg-color.transparent.opened .link:hover,
#menu-3x .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-3x .link[aria-expanded="true"],
#menu-3x .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-3x .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#msg-box8-3y .mbr-section-title,
#msg-box8-3y p {
  color: #fff;
}
#msg-box8-3y .mbr-section-title {
  font-size: 46px;
}
#content1-3z P {
  text-align: left;
  font-size: 15px;
}
#contacts1-40 P {
  color: #efefef;
  text-align: left;
}
#footer1-41 B {
  color: #c1c1c1;
}


#menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1c .navbar-caption {
  color: #ffffff;
}
#menu-1c .navbar-toggler {
  color: #ffffff;
}
#menu-1c .close-icon::before,
#menu-1c .close-icon::after {
  background-color: #ffffff;
}
#menu-1c .link,
#menu-1c .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-1c .link {
  font-size: 0.75rem;
}
#menu-1c .dropdown-item,
#menu-1c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1c .link:hover,
#menu-1c .dropdown-item:hover,
#menu-1c .link:focus,
#menu-1c .dropdown-item:focus {
  color: #90a878;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-menu {
  background: #0e0e0e;
}
#menu-1c .nav-dropdown-sm .link:focus,
#menu-1c .nav-dropdown-sm .link:hover,
#menu-1c .nav-dropdown-sm .dropdown-item:focus,
#menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1c .navbar,
#menu-1c .nav-dropdown-sm,
#menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1c .bg-color.transparent.opened .link:hover,
#menu-1c .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-1c .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#msg-box8-1h .mbr-section-title,
#msg-box8-1h p {
  color: #fff;
}
#msg-box8-1h .mbr-section-title {
  font-size: 46px;
}
#content1-1j P {
  text-align: left;
  font-size: 15px;
}
#contacts1-1d P {
  color: #efefef;
  text-align: left;
}
#footer1-1e B {
  color: #c1c1c1;
}



#menu-3s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3s .navbar-caption {
  color: #ffffff;
}
#menu-3s .navbar-toggler {
  color: #ffffff;
}
#menu-3s .close-icon::before,
#menu-3s .close-icon::after {
  background-color: #ffffff;
}
#menu-3s .link,
#menu-3s .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-3s .link {
  font-size: 0.75rem;
}
#menu-3s .dropdown-item,
#menu-3s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3s .link:hover,
#menu-3s .dropdown-item:hover,
#menu-3s .link:focus,
#menu-3s .dropdown-item:focus {
  color: #90a878;
}
#menu-3s .link[aria-expanded="true"],
#menu-3s .dropdown-menu {
  background: #0e0e0e;
}
#menu-3s .nav-dropdown-sm .link:focus,
#menu-3s .nav-dropdown-sm .link:hover,
#menu-3s .nav-dropdown-sm .dropdown-item:focus,
#menu-3s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3s .navbar,
#menu-3s .nav-dropdown-sm,
#menu-3s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3s .bg-color.transparent.opened .link:hover,
#menu-3s .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-3s .link[aria-expanded="true"],
#menu-3s .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-3s .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#msg-box8-3t .mbr-section-title,
#msg-box8-3t p {
  color: #fff;
}
#msg-box8-3t .mbr-section-title {
  font-size: 46px;
}
#content1-3u P {
  text-align: left;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
#contacts1-3v P {
  color: #efefef;
  text-align: left;
}
#footer1-3w B {
  color: #c1c1c1;
}



#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-46 .link {
  font-size: 0.75rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #90a878;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #0e0e0e;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-46 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#msg-box8-47 .mbr-section-title,
#msg-box8-47 p {
  color: #fff;
}
#msg-box8-47 .mbr-section-title {
  font-size: 48px;
}
#content1-48 P {
  text-align: center;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
#contacts1-49 P {
  color: #efefef;
  text-align: left;
}
#footer1-4a B {
  color: #c1c1c1;
}
